.idea/*
backend/node_modules
backend/package-lock.json

mobile/node_modules
mobile/package-lock.json
mobile/android/build
mobile/android/app/release
mobile/android/.kotlin
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
mobile/*.hprof
mobile/.cxx/
mobile/*.keystore
mobile/!debug.keystore
mobile/ios/Podfile.lock
 mobile/android/.gradle/
mobile/android/app/.cxx/
mobile/android/app/build/
.idea/vcs.xml
mobile/node_modules/.package-lock.json
mobile/.gradle/

**/.gradle/
/mobile/android/.gradle/
